<!doctype html>
<html>
  <head>
    <title>New Jersey Pine Barrens Bird Finder</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" content="Find birds in the New Jerse Pine Barrens.">
    <meta property="og:title" content="New Jersey Pine Barrens Bird Finder" />
    <meta property="og:description" content="Find birds in the New Jerse Pine Barrens.">
    <meta property="og:url" content="http://www.pinebarrensbirds.com" />

    <link href="/style/normalize.css" rel="stylesheet">
    <link href="/style/skeleton.css" rel="stylesheet">
    <link href="/style/style.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <h1>Pine Birds</h1>
      <h5>Your Guide to Finding Birds in the New Jersey Pine Barrens</h5>
      {{{yield}}}

      <div class="row">
        Ⓒ 2017 Arthur Gorka
      </div>
    </div>

    <script type="text/javascript" src="/js/pine-birds.js"></script>
  </body>
</html>