<h4>Sources</h4>
<p>I would not have been able to compile this data without a few sources. <strong>Thanks so much to</strong>:</p>

<p>The Cornell Lab of Ornithology. All About Birds. <a href="http://www.allaboutbirds.org">www.allaboutbirds.org</a></p>
<p>Sibley, David Allen. The Sibley Guide to Birds. Chanticleer Press, Inc., New York: 2000.</p>
<p>Fisher, Lauren. Pine Barrens Birds List. <a href="http://www.pinelandsalliance.org/ecology/wildlife/birds/">http://www.pinelandsalliance.org/ecology/wildlife/birds/</a></p>